@charset "UTF-8";
/*
Author Name: Vanessa Yuen
Date: 10 Apr 2022
*/

html{
    width: 100%;
}
img{
    float: left;
    height: auto;
    width: 50%;
}
h1{
    padding-top: 100px;
    font-size: 1.5em;
    font-family: "Arial";
    color:grey;

}
.rounded-list a{
    display:flex;
    margin: 5px;
    background-color: grey;
    color: white;
    padding: 15px 25px;
    text-decoration: none;

 }
 .rounded-list li{
    display: block;
    width: auto;
    float: left;
 }
 
/* tablet*/
@media only screen and (max-width:769px){
    strong{
        font-size: 1em;
        color:grey;
    }
    p
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
    }
}

/* phone */
@media only screen and (max-width: 480px){
    strong{
        font-size: 1em;
        color:grey;
    }
    p
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.8em;
    }
}

/* desktop/wider screens */
@media only screen and (min-width:769px){
    h1{
        padding-top: 100px;
        font-size: 1.5em;
        font-family: "Arial";
        color:grey;

    }

    strong{
        font-size: 1em;
        color:grey;
    }
    p
    {
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
    }

}